Flask==2.1.1
SQLAlchemy==1.4.35
Flask-SQLAlchemy==2.5.1
click==8.1.2
PyMySQL==1.0.2
Werkzeug==2.1.1
WTForms==3.0.1
MarkupSafe==2.1.1
ipython==8.2.0
flask-shell-ipython==0.4.1
APScheduler==3.9.1
requests==2.27.1
