{% extends 'base.html' %}

{% block title %}システムメンテナンス情報{% endblock %}

{% block body_extra %}
class="loading" data-layout-config='{"darkMode":false}'
{% endblock %}

{% block page_content %}
<div class="mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">

                <div class="text-center">
                    <img src="{{ url_for('static', filename='bootstrap5/images/maintenance.svg') }}" height="140" alt="File not found Image">
                    <h3 class="mt-4">システムメンテナンス中</h3>
                    {% if start_dt or end_dt %}
                        <p class="text-muted my-3">
                            開始日時：{{ start_dt.strftime('%Y-%m-%d %H:%M') }}<br/>
                            終了日時：{{ end_dt.strftime('%Y-%m-%d %H:%M') }}
                        </p>
                    {% endif %}
                    {% if content %}
                        <p class="text-muted" style="white-space: pre-line;">{{ content|safe }}</p>
                    {% else %}
                        <p class="text-muted">We're making the system more awesome. We'll be back shortly.</p>
                    {% endif %}
                    <!-- Footer-->
                    <footer class="footer footer-alt">
                        <p class="text-muted"><script>document.write(new Date().getFullYear())</script> © E-BUSINESS</p>
                    </footer>
                </div> <!-- end /.text-center-->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->

{% endblock %}
