div.auth-fluid {
    background: none;
}

div.auth-fluid div.auth-fluid-right {
    background: url("../images/bg-auth.jpg") center;
    background-size: cover;
}

div.datetime_wrapper input {
    width: inherit;
    display: inline-block;
}
div.datetime_wrapper input + input {
    margin-left: 8px;
}

label.required:after {
    content:" *";
    color: red;
}

textarea.form-control {
    min-height: 120px;
}

form .actions {
    display: flex;
    justify-content: space-between;
}
